@using Microsoft.AspNetCore.Authentication
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link href="_content/Microsoft.FluentUI.AspNetCore.Components/css/reboot.css" rel="stylesheet" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["KanbanDmz.Web.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <script>
        try {
            const themeId = localStorage.getItem("kanban-dmz:theme-id") || "system";
            document.body.setAttribute("data-theme-name", themeId);
            
            let isDark = false;
            if (themeId === "dark" || themeId === "tokyo-night" || themeId === "catppuccin-dark" || themeId === "solarized-dark" || themeId === "synthwave84") {
                isDark = true;
            } else if (themeId === "system") {
                const themeSettings = localStorage.getItem("fluentui-blazor:theme-settings");
                if (themeSettings) {
                    const settings = JSON.parse(themeSettings);
                    if (settings && (settings.mode === "dark" || (settings.mode === "system" && window.matchMedia("(prefers-color-scheme: dark)").matches))) {
                        isDark = true;
                    }
                } else if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
                    isDark = true;
                }
            }
            if (isDark) {
                document.body.setAttribute("data-theme", "dark");
            } else {
                document.body.setAttribute("data-theme", "light");
            }
        } catch (e) {
            console.error("Error setting theme:", e);
        }
    </script>
    @{
        var httpContext = HttpContextAccessor.HttpContext;
        var accessToken = httpContext != null ? httpContext.GetTokenAsync("access_token").GetAwaiter().GetResult() : null;
    }
    <Routes @rendermode="InteractiveServer" AccessToken="@accessToken" />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="_content/Microsoft.FluentUI.AspNetCore.Components/Microsoft.FluentUI.AspNetCore.Components.lib.module.js" type="module" async></script>
</body>

</html>

